{% extends 'base.html.twig' %}

{% block title %}CarCategory index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">CarCategory index</h1>

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for car_category in car_categories %}
                <tr>
                    <td>{{ car_category.id }}</td>
                    <td>{{ car_category.name }}</td>
                    <td>
                        <a href="{{ path('app_car_category_show', {'id': car_category.id}) }}" class="btn btn-info btn-sm">Show</a>
                        <a href="{{ path('app_car_category_edit', {'id': car_category.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_car_category_new') }}" class="btn btn-success">Create new</a>
                <a href="{{ path('app_resource') }}" class="btn btn-primary btn-block btn-lg mb-4">Resources</a>

    </div>
{% endblock %}
